.react-calendar__navigation {
  background-color: rgba(255, 255, 255, 0.1);
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.react-calendar__tile {
  color: #adadad;
}

.react-calendar__tile--active > abbr,
.react-calendar__tile.react-calendar__month-view__days__day > abbr:hover {
  padding: 8px;
  background: #ffffff;
  border-radius: 100%;
}

/* .react-calendar__navigation__arrow {

} */

abbr[title] {
  text-decoration: none !important;
}

.chakra-tabs__tab-panels > .chakra-tabs__tab-panel > table > tbody > tr:first-of-type {
  /* background-color: yellow !important; */
}
