/* ----- Current month and day's names layout ------- */
.react-calendar__navigation {
  background-color: rgba(255, 255, 255, 0.1);
}

abbr[title] {
  text-decoration: none !important;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

/* ------ Day's numbers ------- */
.react-calendar__tile {
  color: #adadad;
}

.react-calendar__tile--active > abbr,
.react-calendar__tile.react-calendar__month-view__days__day > abbr:hover {
  padding: 8px;
  background: #ffffff;
  border-radius: 100%;
}

/* ------- Arrows display --------- */
.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
  font-size: 2em;
  margin-left: 5px;
  margin-right: 5px;
}
